<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roomie Link</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="parent">
        <!-- Top -->
         
        <div class="div1">
            <ul class="universityDescription">
                <li>
                    <img src="https://wallpapercave.com/wp/wp4775122.png" alt="University Image">
                </li>
            </ul>
            <ul class="options">
                <li >
                    <a href="">
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="">Application</a>
                </li>

                <li >
                    <a href="">Halls</a>
                </li>

                <li >
                    <a href="">Staff</a>
                </li>
            </ul>

        </div>
        <!-- Sidebar -->
        <div class="div2"> 
            <ul>
                <li>
                    <a href="">Application</a>
                </li>
                <li>
                    <a href="">Room mates</a>
                </li>
                <li>
                    <a href="">Room</a>
                </li>
                <li>
                    <a href="">Resturants near</a>
                </li>
                <!-- Settings not working still -->
                <li class="settings">
                    <li>
                        <i class="fa fa-gear" a style="font-size:36px;"></i>
                    </li>
                </li>
            </ul>
        </div>
        <!-- Main -->
        <div class="div3">
            <!-- Selector -->
             <div class="filter"></div>
             <!-- 1 -->
             <div class="card" style="width: 18rem;">
                <img src="https://www.w3schools.com/bootstrap4/img_avatar1.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">An item</li>
                  <li class="list-group-item">A second item</li>
                  <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
              <!-- 2 -->
              <div class="card" style="width: 18rem;">
                <img src="https://www.w3schools.com/bootstrap4/img_avatar1.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">An item</li>
                  <li class="list-group-item">A second item</li>
                  <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
              <!-- 3 -->
              <div class="card" style="width: 18rem;">
                <img src="https://www.w3schools.com/bootstrap4/img_avatar1.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">An item</li>
                  <li class="list-group-item">A second item</li>
                  <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
                <button type="button" class="btn btn-primary">Next</button>
        </div>
        <!-- Next button -->

    </div>
        
    <script src="js/profile.js"></script>
</body>
</html>